{% set list_api="log/1.0/event/list" %}
{% extends "list.html" %}
{% block title %}Event History{% endblock %}
{% block style %}
#event_table :nth-child(2) {
 width: 1em;
 white-space: nowrap;
}
{% endblock %}
{% block script %}
{{ super() }}
function addrow(event) {
  $("#result_table").append(
      "<tr class='result_row'>" +
        "<td>" + event.timestamp + "</td>" +
        "<td>" + event.user_id + "</td>" +
        "<td>" + (event.client_ip ? event.client_ip : '') + "</td>" +
        "<td>" + event.severity + "</td>" +
        "<td>" + event.event_text + "</td>" +
      "</tr>");
};

$("#event_clear").click(function() {
    spiffhub.call('log/1.0/event/remove_all',
	          undefined,
	          function(data) {
	              refresh_list();
	          },
	          on_error);
});
{% endblock %}
{% block nav_events_class %}active{% endblock %}
{% block content_top %}
<a href="#event_clear" id="event_clear" class="button">Clear all logs</a>
{% endblock %}
{% block content_middle %}
<table id="result_table">
	<tr><th>Time</th><th>User</th><th>IP Address</th><th>Severity</th><th>Event</th></tr>
	<tr class="spacer"><td></td><td></td><td></td><td></td><td></td></tr>
</table>
{% endblock %}
