{% extends "base.html" %}
{% block script %}
var offset = $.QueryString["offset"] ? $.QueryString["offset"] : 0;
var index = new PageIndex($("#pageindex"), '');
index.set_entries_per_page(epp);

function refresh_list(on_success) {
  hub.call('{{ list_api }}',
                {'limit': epp, 'offset': offset},
                function(data) {
                    var len = data.list.length;
                    $("#result_table .result_row").remove();
                    for (var i = 0; i < len; i++)
                       addrow(data.list[i]);
                    if (offset > data.total)
                       offset = data.total - epp;
                    offset = Math.max(0, offset);
                    index.update(data.total, offset);
                    if (on_success)
                        on_success();
                },
                on_error);
};

refresh_list();
{% endblock %}
{% block content_bottom %}
<div id="pageindex" class="pageindex"></div>
{% endblock %}
